/* Container for the edit account page */
.edit-account-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 35px;
  font-family: 'Work Sans', sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none; /* Prevent selection */
}

/* Heading style */
.edit-account-container h1 {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  font-size: 2rem;
  text-decoration: none;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #0505fc;
  outline: none;
}

/* Update button styling */
.update-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #0505fc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.update-button:hover {
  background-color: #0000cc;
}

/* Back button styling */
.back-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.back-button:hover {
  background-color: #d32f2f;
}

.back-button:focus {
  outline: none;
}
