/* FAQ.css */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none; /* Prevent selection */
}

.faq-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.faq-nav {
    display: flex;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.faq-main {
    padding: 20px 0;
}

h1 {
    text-align: center;
    color: #333333;
    text-decoration: underline;
    font-size: 2rem;
}

.faq-item {
    background-color: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 100%;
    box-sizing: border-box;
}

.faq-item:hover {
    background-color: #f1f1f1;
}

.faq-item.active {
    background-color: #ffc107;
}

.faq-question {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.faq-answer {
    margin-top: 10px;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
}
/*
.faq-form {
    margin-top: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.faq-textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
  }

.faq-submit {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007acc;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-submit:hover {
    background-color: #005c99;
}
*/