/* Popular Courses Section */
body {
  user-select: none; /* Prevent selection */
}

.courses-page h1 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
  }
  
  .courses-page-section {
      padding: 50px 20px;
      text-align: center;
    }
    
    .courses-page-section h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 30px;
      text-decoration: underline;
    }
  
    /* Sort By Section */
  .courses-page-sort-by {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;
    }
    
    .courses-page-sort-by span {
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }
    
    .courses-page-sort-by select {
      padding: 10px 20px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }
    
    .courses-page-sort-by button {
      background-color: #0505fc;
      color: white;
      padding: 10px 20px;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .courses-page-sort-by button:hover {
      background-color: #0000cc;
    }
    
    .courses-page-sort-by button:focus {
      outline: none;
    }
/* Learner Courses Styling */
.learner-courses-section {
  padding: 40px 20px;
}

.learner-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.learner-card-link {
  text-decoration: none;
  color: inherit;
  width: 300px;
}

.learner-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  height: 100%;
}

.learner-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.learner-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.learner-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center;
}

.learner-card p {
  margin: 5px 15px;
  color: #333;
  font-size: 0.95rem;
}

.enrolled-label {
  color: green;
  font-weight: bold;
  text-align: center;
}

.learner-btn-read-more,
.learner-btn-continue {
  padding: 10px;
  margin: 15px auto 0;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}

.learner-btn-read-more {
  background-color: #0505fc;
}

.learner-btn-read-more:hover {
  background-color: #0000cc;
}

.learner-btn-continue {
  background-color: #0dbc21;
}

.learner-btn-continue:hover {
  background-color: #0a7b16;
}
