.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px - 140px);
    user-select: none; /* Prevent selection */
  }
  
  .reset-password-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .reset-password-box h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .input-container {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .input-container label {
    font-size: 0.9rem;
    color: #555;
  }
  
  .input-container input {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .submit-btn {
    width: 100%;
    padding: 0.8rem;
    background-color: #0505fc;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0000cc;
  }
  
  .success-message {
    margin-top: 1rem;
    font-size: 1rem;
    color: green;
    font-weight: bold;
  }
  
  .error-message {
    margin-top: 1rem;
    font-size: 1rem;
    color: red;
    font-weight: bold;
  }
  