/* AdminSendMail.css */
.admin-send-mail-container {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 130px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  user-select: none; /* Prevent selection */
}

.admin-send-mail-container h1 {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  font-size: 2rem;
  text-decoration: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007acc;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.send-mail-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-mail-btn:hover {
  background-color: #005c99;
}

.success-message {
  color: #28a745;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: #e74c3c;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
