.signup-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none; /* Prevent selection */
  padding: 20px 20px;
}

.signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 450px;
    z-index: 1;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .input-group {
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0505fc;
    font-family: 'Work Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0000cc;
  }
  
  .signin-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .signin-link a {
    color: #0505fc;
    text-decoration: none;
  }
  
  .signin-link a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  