.upload-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
  user-select: none; /* Prevent selection */
}

.upload-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  text-decoration: none;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, 
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.lessons-container h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.chapter-container {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
}

.lesson-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.lesson-item input, 
.lesson-item textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.lesson-item label {
  font-weight: bold;
}

.lesson-video-preview {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.upload-btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.upload-btn.add {
  background-color: #2196F3;
  margin-bottom: 5px;
}

.upload-btn.add:hover {
  background-color: #1976D2;
}

.upload-btn.submit {
  background-color: #4CAF50;
  width: 100%;
}

.upload-btn.submit:hover {
  background-color: #45a049;
}

.upload-btn.remove {
  background-color: #f44336;
}

.upload-btn.remove:hover {
  background-color: #d32f2f;
}

.upload-btn.back {
  background-color: #ffbf00;
  margin-top: 20px;
}

.upload-btn.back:hover {
  background-color: #dbb20c;
}
/*
.upload-btn.update {
  background-color: #8a2be2;
}

.upload-btn.update:hover {
  background-color: #6a1bbd;
}
*/