body {
  user-select: none; /* Prevent selection */
}

.add-course-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .add-course-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  
  .add-course-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group select {
    cursor: pointer;
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .a-btn-submit {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #0505fc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 42%;
  }
  
  .a-btn-submit:hover {
    background-color: #0000cc;
  }

  .a-btn-back {
    padding: 10px 40px;
    font-size: 16px;
    color: #fff;
    background-color: #f12727;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .a-btn-back:hover {
    background-color: #cc0000;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }