* {
  font-family: 'work-sans', sans-serif;
}

.career-detail-container {
  padding: 1.5rem;
  max-width: 1400px;
  margin: auto;
  font-family: 'work-sans', sans-serif;
}

.career-header-page{
  text-align: center;
  margin-bottom: 2rem;
}

.career-detail-description {
  font-size: 1.1rem;
  margin: 1rem 1rem;
  color: #555;
  text-align: justify;
  line-height: 30px;
}

.career-meta p {
  margin: 0.5rem 0;
}

.section-title {
  margin: 2rem 0 1rem;
  color: #2c3a93;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.career-course-card {
  display: flex;
  gap: 1.5rem;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.course-img {
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.course-info h3 {
  margin: 0;
  color: #222;
}

.trainer-info-path {
  color: #000
}

/* .trainer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
} */

.chapters {
  margin-top: 1rem;
}

.lessons {
  margin-left: 1.5rem;
  list-style: disc;
}

.career-detail-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.btn-back {
  background-color: #b62c2c;
  color: #fff;
}

.btn-join-now {
  background-color: #0505fc;
  color: #fff;
  text-decoration: none;
}
