/* Popular Courses Section */
body {
  user-select: none; /* Prevent selection */
}

.courses-page h2 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
}

.courses-page-section {
    padding: 50px 20px;
    text-align: center;
  }
  
  .courses-page-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    text-decoration: underline;
  }

  /* Sort By Section */
.courses-page-sort-by {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .courses-page-sort-by span {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  
  .courses-page-sort-by select {
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .courses-page-sort-by button {
    background-color: #0505fc;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .courses-page-sort-by button:hover {
    background-color: #0000cc;
  }
  
  .courses-page-sort-by button:focus {
    outline: none;
  }
  
  
  .courses-page-container-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .courses-page-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  
  .courses-page-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }
  
  .courses-page-card img.courses-page-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .courses-page-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .courses-page-card p {
    margin: 5px 0;
    color: #555;
    margin-bottom: 10px;
  }
  
  .courses-page-card p strong {
    font-weight: bold;
    color: #333;
  }
  
  .courses-page-card .btn-primary {
    background-color: #0505fc;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px auto 20px;
  }
  
  .courses-page-card .btn-primary:hover {
    background-color: #0000cc;
  }
  